@model Person

<tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Telephone</th>
    <th>City</th>
</tr>
<tbody>
    {
        <tr>
            <td>person.FirstName</td>
            <td>person.LastName</td>
            <td>person.Phone</td>
            <td>person.City</td>
        </tr>
    }
</tbody>
</table>