@model CreatePersonViewModel
@{
    ViewData["Title"] = "Person Detail";
}

<h3>Person Detail</h3>
<ul class="breadcrumb">
    <li>
        <a asp-action="Create">Add Person</a>
    </li>
    <li>
        <a asp-action="Search">Search Person</a>
    </li>
</ul>
<p> </p>

<div class="inform show">
</div>
